@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.header-background {
    background: #FFFBF0;
}

body {
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    line-height: 0.8;
    font-weight: 500;
}


.nav-link {
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
}

.header-main img {
    height: 400px;
    margin-bottom: 50px;
}
.header-paragraph{
    width: 310px;
}
.button-color {
    background-color: #A4BC46;
    border: none;
    border-radius: 8px;
}

.footer-author a{
    text-decoration: none;
    color: rgb(206, 29, 29);
}